#menu-navegacao{
    height: 60px;
    margin: 0 10px 10px 10px;
    background: rgb(63, 60, 60, 0.8);
    border-radius: 10px;
    background: url("/assets/images/Arquivo-X-quadrinhos-5.jpg") ;

}

#menu-navegacao ul {
    padding: 0;
    list-style: none;
    margin: 24px 0 200px 260px;
}

#menu-navegacao a:hover {
    color: rgba(212, 175, 55);
}

#menu-navegacao li {
    display: inline;
}

#menu-navegacao a {
    font-family: 'monster';
    text-decoration: none;
    color: white;
    background: black;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(107, 107, 107);
}
