<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X-Files</title>
</head>
<body>

<div id="container"> <!--Inicio container-->

    <app-topo></app-topo>
    <app-nav></app-nav>

   <div id="conteudo"> <!--Inicio conteudo-->
    
        <div class="fotoAlien">
        <img src="/assets/images/imagesAlien/download (1).jpg " width="100%">
        </div>

        <div class="fotoAlien">
            <img src="/assets/images/imagesAlien/alein.jpg" width="100%">
        </div>

        <div class="caixaAlien">
            <img src="/assets/images/imagesAlien/alienMovement.jpg" width="100%">
        </div>

        <div class="fotoAlien">
            <img src="/assets/images/imagesAlien/images (3).jpg" width="100%">
        </div>

        <div class="fotoAlien">
            <img src="/assets/images/imagesAlien/USA-SCI-UFO-24-xs.jpg" width="100%">
        </div>

        <div class="fotoAlien">
            <img src="/assets/images/imagesAlien/download (1).jpg" width="100%">
        </div>

    </div>  <!--Fim conteudo-->


    <div id="alienTrans">
        <img src="/assets/images/imagesAlien/Extraterrestre.jpg" width="100%">
    </div>



</div> <!--Fim container-->

</body>
</html>