<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X-Files</title>
</head>
<body>

<div id="container"> <!--Inicio container-->

    <app-topo></app-topo>
    <app-nav></app-nav>

    <div id="galeria">

        <div class="foto">
            <img src="/assets/images/dana-scully-profile.jpg">
        </div>

        <div class="foto">
            <img src = "/assets/images/MonicaReyes.jpg">
        </div>

        <div class="foto">
            <img src="/assets/images/fox.jpg">
        </div>

        <div class="foto">
            <img src="/assets/images/6-x-files-the-x-files-dana-scully-scully-fox-mulder-daniela-lundberg-lundberg.jpg">
        </div>
        
        <div class="foto">
            <img src="/assets/images/The_Smoking_Man_(X-Files).jpg">
        </div>

        <div class="foto">
            <img src="/assets/images/Mulder-knows-how-work-his-angles.webp">
        </div>

    </div>



</div> <!--Fim container-->

</body>
</html>