<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X-Files</title>
</head>
<body>

  
   <div id="container"> <!-- Inicio container-->
        
     <app-topo></app-topo>

   <app-nav></app-nav>

   <div id="conteudo"> <!--Inicio conteudo-->
    
    <p><em>{{texto}}</em></p>
      
    <p><em>{{texto2}}</em></p>

    </div> <!--Fim container-->

    <app-nav-phenomena></app-nav-phenomena>
    
 <video width="245" height="230" controls>
        <source src="/assets/images/videoplayback (1).mp4" type="video/mp4">
      Your browser does not support the video tag.
      </video>


    <div id="imagem-meio">
        <img src ="/assets/images/gillian-anderson-david-duchovny-the-x-files-poster-imagem-de-fundo.jpg">
    </div>
    


</div> <!--Fim container-->

</body>
</html>