
       @font-face {
            font-family: 'monster';
            src: url('src/fonts/Melted Monster.ttf') format('truetype');
          } 

        body {
            margin: 0px;
            padding: 0px;
            background: rgb(49, 47, 47) repeat-y; 
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        #container {
            width: 900px;
            height: 1500px;
            margin: auto;
            background: black  url("/assets/images/f0FH9Er.webp") ;
            border-radius: 10px;
        }

   
        #conteudo p {
            color: white;
            margin: 25px;
            text-align: center;
        }

        #conteudo  {
            float: left;
            width: 630px;
            margin: 10px;
        }

        video {
            float: right;
            margin-right: 2px;
        }

        #imagem {
            width: 370px;
            height: 500px;
            background: black;
            margin-left: 270px;
            
        }

        #divImag  {
            border: 1px solid red;
        }

        #imagem-meio img{
            width: 750px;
            height: 450px;
            margin-left: 100px;
            
        }