<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X-Files</title>
</head>
<body>

<div id="container"> <!--Inicio container-->

   <div id="topo">

        <h1>Register</h1>

   </div>

   <app-nav></app-nav>

   <div id="formu"> <!-- inicio formulario-->

    <h1>Register</h1>

        <form>

            <label for="nome">Email:</label>
            <input class="text" type="text" name="email" id="name"><br>

            <label for="nome">Password:</label>
            <input class="text" type="text" name="senha"><br>

            <label for="nome">Name:</label>
            <input class="text" type="text" name="name"><br>

            <label for="nome">Adress:</label>
            <input class="text" type="text" name="adress"><br>

            <label for="nome">Phone Number:</label>
            <input class="text" type="text" name="phone"><br>

            <label for="nome">Sexo:</label>
            <input type="radio" name="sexo" value="M"> Masculine<br>
            <input type="radio" name="sexo" value="F"> Feminine<br>
        
            <label for="nome">Estado</label>
            <select id="estado" name="estado">
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
                <option value="EX">Estrangeiro</option>
            </select>

            Observacões: <br>
            <textarea>
            </textarea>

            <button type="submit" name="name" id="name">Submit</button>


        </form>


   </div><!-- fim formulario-->



</div> <!--Fim container-->

</body>
</html>